.adding_form {
	
}

td:hover {
	background-color: #c4d3f6;
}

.button {
	background-color: #cccccc;
	border-radius: 14px;
	border: 1px solid #4d4d4d;
	font-size: 17px;
	padding: 10px 31px;
}

.button:hover {
	background-color: #4d4dff;
	color: white;
}

td {
	height: 50px;
	width: 200px;
	border-spacing: 0;
	border-collapse: collapse;
	min-width: 100px;
	background-color: #c4d3f6;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-align: center;
	border: none;
	padding: 5px;

	border-radius: 5px;
}